@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Poppins:ital,wght@1,700&display=swap');

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
 }
 .card {
    background: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
 }
 h1.temp {
    margin: 0;
 }

 .search {
    display: flex;
    align-items: center;
    justify-items: center;
 }
 button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    width: 44;
    height: 44;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    width: calc(100%-80px);
    transition: 0.2s ease-in-out;

 }
 button:hover {
    background: #7c7c7c6b;
 }
 input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 18px;
    background: #7c7c7c2b;
    color: white;
    font: inherit;
    font-size: 105%;
 }